.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', cursive;
    font-size: 5rem;
}
.first-row {
    display: flex;
    gap: 10px;
    margin: 5px, solid, black;
    text-align: center;
    color: white;
}   
.first-col {
    text-align: center;
    background-color: rgb(255, 162, 0);
    color: white;  
}
.third-col {
    text-align: center;
    background-color: purple;
    color: white;  
}